.ra-admin-menu {
  background-color: #041434;
  height: 100vh;
  width: 200px;

  .logo {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #07255f;
    .image {
      height: 80px;
    }
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;

    .active {
      background-color: #1e3155;
    }

    .link {
      color: #fff;
      padding: 12px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      border-radius: 4px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: #24385d;
      }
    }
  }
}
